@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: white; /* Ensure background color is white */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-medium text-brand-blue no-underline;
}

a:hover {
  @apply text-hover-blue;
}

body {
  @apply m-0 flex items-center justify-center min-w-[320px] min-h-screen bg-white; /* Set body background to white */
}

h1, h2 {
  @apply text-4xl leading-tight;
}

button {
  @apply rounded-custom border border-blue-600 px-3 py-2 text-base font-medium bg-blue-500 cursor-pointer transition-colors duration-200;
  width:fit-content;
}

button:hover {
  @apply border-white;
}

button:focus, button:focus-visible {
  @apply outline-none ring-4 ring-blue-300;
}

/* Custom styles for the login container */
.login-signup-container {
  @apply flex flex-col items-center p-6 bg-gray-100 rounded-lg shadow-md; /* Ensure bg-gray-100 for login container */
}

.login-container form {
  @apply mt-4 w-full max-w-md;
}

.login-container div {
  @apply mb-4;
}

.login-container label {
  @apply block mb-2 font-semibold text-gray-700;
}

.login-container input {
  @apply w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue;
  mmargin-bottom: 1rem;
}

